:root {
  --colour-primary: #a8abc1;
  --colour-primary-dark: #3f4373;
  --colour-accent: #cd9f76;
  --colour-green: #8fb798;
  --colour-background: #fbfbfb;
  --colour-background-dark: #e1e1e1;
  --colour-text: #000000;
}